<% provide(:title, @user.username ) %>


  
   <h1>
     <%= gravatar_for @user %>
    <%= @user.username %>
   </h1>
<p>
you are about to see whatever this page was intended for for olaolalal<br>
don't call me today I want to know vrakadakbra what ever calla me when <br>
the morning after I wake up and this is how I feel and I remember to have<br>

you are about to see whatever this page was intended for for olaolalal<br>
don't call me today I want to know vrakadakbra what ever calla me when <br>
the morning after I wake up and this is how I feel and I remember to have<br>

you are about to see whatever this page was intended for for olaolalal<br>
don't call me today I want to know vrakadakbra what ever calla me when <br>
the morning after I wake up and this is how I feel and I remember to have<br>
</p>



