<div class="row">

    <div class="col-md-2">
        LB
    </div>

    <div class="col-md-8">
    </div>

    <div  class="col-md-2">
      <%= link_to("Log in","#") %>
      <%= link_to("Sign up","#") %>
    </div>

</div>
